<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>北京</key>
		<string>11</string>
	</dict>
	<dict>
		<key>天津</key>
		<string>12</string>
	</dict>
	<dict>
		<key>上海</key>
		<string>31</string>
	</dict>
	<dict>
		<key>山西</key>
		<string>14</string>
	</dict>
	<dict>
		<key>海南</key>
		<string>46</string>
	</dict>
	<dict>
		<key>江苏</key>
		<string>32</string>
	</dict>
	<dict>
		<key>山东</key>
		<string>37</string>
	</dict>
	<dict>
		<key>四川</key>
		<string>51</string>
	</dict>
	<dict>
		<key>陕西</key>
		<string>61</string>
	</dict>
	<dict>
		<key>河北</key>
		<string>13</string>
	</dict>
	<dict>
		<key>内蒙</key>
		<string>15</string>
	</dict>
	<dict>
		<key>辽宁</key>
		<string>21</string>
	</dict>
	<dict>
		<key>吉林</key>
		<string>22</string>
	</dict>
	<dict>
		<key>黑龙江</key>
		<string>23</string>
	</dict>
	<dict>
		<key>浙江</key>
		<string>33</string>
	</dict>
	<dict>
		<key>福建</key>
		<string>35</string>
	</dict>
	<dict>
		<key>江西</key>
		<string>36</string>
	</dict>
	<dict>
		<key>河南</key>
		<string>41</string>
	</dict>
	<dict>
		<key>湖北</key>
		<string>42</string>
	</dict>
	<dict>
		<key>湖南</key>
		<string>43</string>
	</dict>
	<dict>
		<key>广东</key>
		<string>44</string>
	</dict>
	<dict>
		<key>广西</key>
		<string>45</string>
	</dict>
	<dict>
		<key>重庆</key>
		<string>50</string>
	</dict>
	<dict>
		<key>贵州</key>
		<string>52</string>
	</dict>
	<dict>
		<key>云南</key>
		<string>53</string>
	</dict>
	<dict>
		<key>西藏</key>
		<string>54</string>
	</dict>
	<dict>
		<key>甘肃</key>
		<string>62</string>
	</dict>
	<dict>
		<key>青海</key>
		<string>63</string>
	</dict>
	<dict>
		<key>宁夏</key>
		<string>64</string>
	</dict>
	<dict>
		<key>新疆</key>
		<string>65</string>
	</dict>
	<dict>
		<key>安徽</key>
		<string>34</string>
	</dict>
</array>
</plist>
